.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}

.menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-open-icon {
  display: block;
  color: #2f2f37;
}

.header-logo {
  padding: 16px 0;
}

.logo {
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.nav-link {
  display: block;
  padding: 24px 0;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
  }

  .nav-list,
  .contacts {
    display: flex;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    gap: 40px;
    margin-left: 120px;
  }
  .nav-link {
    font-size: 14px;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}